body{
section {
  background-color: rgb(23, 23, 23);
  color: white;
  font-family: Arial, sans-serif;
}
h1 {
  color: white;
  
}

post-card {
  background-color: #f2f2f2;
  padding: 1.75rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border: 1px solid #334155;
}
catagory {
  text-transform: uppercase;
  color: red;
}

update {
  color:#fbbf24;
  
}
.read-more {
  display: inline-block;
  margin-top: 10px;
  color: #ff0000;
  text-decoration: bold;
  background-color: #f2f2f2;
}
.breaking {
 background-color: #ff0000;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
.btn {

  padding: 10px 20px;

}
}